@page
@using Website.ViewComponents
@model Website.Pages.UserInfo.Address


@{
    Layout = "Shared/_LayoutUserInfo";
    ViewData["ProfilePageTitle"] = "آدرسهای منن";
}

@section Stylesheets
{
    <!-- CSS Styles -->
    <link rel="stylesheet" href="../assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/plugins/aos-master/dist/aos.css">
    <link rel="stylesheet" href="../assets/plugins/hover-master/css/hover-min.css">
    <link rel="stylesheet" href="../assets/css/ionicons.css">
    <link rel="stylesheet" href="../assets/css/droopmenu.css">
    <link rel="stylesheet" href="../assets/css/highlight.css">
    <link rel="stylesheet" href="../assets/css/nouislider.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- /CSS Styles -->
}

@section Scripts
{
    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/plugins/fontawesome/js/all.min.js"></script>
    <script src="../assets/plugins/aos-master/dist/aos.js"></script>
    <script src="../assets/js/droopmenu.js"></script>
    <script src="../assets/js/nouislider.min.js"></script>
    <script src="../assets/js/pagination.js"></script>
    <script src="../assets/js/scripts.js"></script>
    <!-- /Scripts -->

    <script type="text/javascript">
    
       let defaultAddressId= @Model.DefaultAddressID
         
        function ajaxRequest(link,data,onSuccess,onError){
            $.ajax(
                  { 
                        url: link,
                        type:"post",
                        data : data,
                        dataType: "text",
                        success: onSuccess, 
                        error: onError,
                        headers:
                        {
                            RequestVerificationToken:
                             $('input:hidden[name="__RequestVerificationToken"]').val()
                        },   
                  }  )
        }
    
    
           $('#province').on('change', 
                 function (){  
                          ajaxRequest(
                              "@Url.Page("Address", "GetCities")",
                               {"selectedProvinceId": this.value === 0 ? 1 :this.value},
                              function (data){   
                                  $("#city-component").html(data)
                                  $('#city').trigger('change');
                                   },
                              function (errorData){console.log(errorData)  }                          
                          )
                 })
           
 
         
            $('body').on('submit',".container>form",  function (){
                        let addAddressData = {
                          Postalcode : $("#postal_code").val(),
                          FullAddress : $("#address").val(),
                          CityId : $("#city-hidden").val(),
                          TransfereeName :  $("#receiver").val(),
                          TransfereePhone :  $("#tel").val(),
                          ProvinceId :  $("#province").val(),
                          UserId :  $("#user").val()
                        }
                        ajaxRequest("@Url.Page("Address")",addAddressData,
                                    function (data){
                                        $("#addresses-container").html(data)
                                        },
                                    function (errorData){
                                        console.log(errorData)}
                        );  
                          return false
                      }
                      ) 
           
         function onCityChange() {  
             document.getElementById("city-hidden").value = document.getElementById("city").value; 
         }
            
      refreshUserDefaultAddress(defaultAddressId)
      
      
        function refreshUserDefaultAddress(defaultAddressId){  
             $("a[data-default-address]").each(function (idx, itm){  
                     let itemAddressId = $(itm).attr("data-id");
                     let isDefaultItem = defaultAddressId.toString()===itemAddressId 
                     $(":first-child", itm).attr('class', isDefaultItem?'fa fa-check-circle':'fa fa-circle-notch'); 
                 }
            )           
        }
        
        
        $(document).on("click","a[data-default-address]",function() { 
                         let clickedAddressId = $(this).attr("data-id")
                         ajaxRequest(
                           "@Url.Page("Address", "changeDefaultAddress")",
                            {defaultAddressId:parseInt(clickedAddressId)},
                            function (){  
                                refreshUserDefaultAddress(clickedAddressId);
                            },
                            function (error){
                                console.log(error)
                            }
                         ) 
        })
        
     
           
       </script>
}


@Html.AntiForgeryToken()
<div class="col-12 col-lg-9 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">

    <div class="custom-container mb-2" id="new-address">
        <div class="row pt-2 px-3">
            <div class="col-12">
                <h1>افزودن آدرس جدید</h1>
            </div>
        </div>
        <hr>
        <div class="container">
            <form method="post" class="row">
                <div class="col-12 pt-3">
                    <div class="row">
                        <div class="col-12 col-md-4 pl-2">
                            <div class="form-group m-1">
                                <label for="province">استان:</label>
                                <select id="province" class="form-control" asp-for="AddNormalAddressRequest.ProvinceId" asp-items="Model.ProvincePaginatedResponse.Data.ToList().Select(x => new SelectListItem(text: x.Name, value: x.Id.ToString()))">

                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 pl-2">
                            <div class="form-group m-1">
                                <input type="hidden" asp-for="AddNormalAddressRequest.CityId" value="1" id="city-hidden"/>
                                <label for="city">شهر:</label>
                                <div id="city-component">
                                    @await Component.InvokeAsync(typeof(CityViewComponent), arguments: new { provinceId = 1 })
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="user" value="@Model.UserId" asp-for="AddNormalAddressRequest.UserId"/>
                        <div class="col-12 col-md-8 pl-2">
                            <div class="form-group m-1">
                                <label for="address">نشانی کامل:</label>
                                <input type="text" asp-for="AddNormalAddressRequest.FullAddress" id="address" class="form-control">
                            </div>
                        </div>

                        <div class="col-12 col-md-4 pl-2">
                            <div class="form-group m-1">
                                <label for="postal_code">کد پستی:</label>
                                <input type="text" asp-for="AddNormalAddressRequest.PostalCode" id="postal_code" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 pl-2">
                            <div class="form-group m-1">
                                <label for="receiver">تحویل گیرنده:</label>
                                <input type="text" asp-for="AddNormalAddressRequest.TransfereeName" id="receiver" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-4 pl-2">
                            <div class="form-group m-1">
                                <label for="tel">تلفن تماس:</label>
                                <input type="text" asp-for="AddNormalAddressRequest.TransfereePhone" id="tel" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group m-1 pb-3">
                                <input type="submit" class="btn btn-primary px-5" value="ذخیره آدرس">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="custom-container" id="addresses">
        <div class="row pt-2 px-3">
            <div class="col-12">
                <h1>آدرس های من</h1>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">

                <div id="addresses-container">
                    @await Component.InvokeAsync(typeof(AddressesViewComponent), arguments: new { userId = Model.UserId,defaultAddressId = Model.DefaultAddressID })
                </div> 

            </div>
        </div>
    </div>
</div>
 