@using Application.AddressService.NormalAddress.Query.ReadMultiple.Dto
@model  IEnumerable<ReadMultipleAddressResponse>

@foreach (var address in Model)

{
    <div class="col-12 address py-2">
        <div class="row">
            <div class="col-12 col-sm-10">
                <div  class="title">@address.FullAddress</div>
                <div class="sub-title">@address.CityName - @address.ProvinceName</div>
                <div class="sub-title">@address.PostalCode</div>
                <div class="sub-title">@address.TransfereeName</div>
                <div class="sub-title">@address.TransfereePhone</div>
            </div>
            <div class="col-12 col-sm-2 text-lg-end">
                <a href="#" onclick="return confirm('آیا جهت حذف این آدرس اطمینان دارید؟')" class="float-right float-sm-left pr-2 pl-sm-2">
                    <i class="fa fa-trash-alt font-weight-normal"></i>
                </a>
                <a href="#" class="float-right float-sm-left">
                    <i class="fa fa-edit font-weight-normal"></i>
                </a>
                              
                <a  class="float-right float-sm-left ml-2" title="آدرس پیش فرض" data-default-address data-id="@address.Id" >
                    <i style="color: #fcb941"></i> 
                </a>
            </div>
        </div>
    </div>
}